.rack {
    border-collapse: separate;
    border-spacing: 10px;
    width: 50%;
    margin: auto;
}

.answers {
    border: 1px solid black;
    width: 50%;
    margin: auto;
}

.ans-cell {
    border: 1px solid black;
    text-align: center;
    width:50%;
}

.intro {
    font-weight: bold;
    float: none;
    font: "Impact";
    text-indent: 100%;
    white-space: nowrap;
    font-size: 20px;
}

.info {
    font-weight: bold;
    font: "Impact";
    font-size: 20px;
}

.mainrack {
    border-spacing: 10px;
    font-family: "Impact";
    font-size: 40px;
    min-width: 40px;
    text-align: center;
    background-color: teal;
    border-radius: 50%;
}

.inp {
    width: 100%;
    border: 2px solid blue;
    border-radius: 4px;
    font-size: 40px;
}

.score {
    font-family: Impact;
    font-size: 20px;
}

.scoreValue {
    color: blue;
}

.rack-storage-section {
    margin: auto;
    width: 50%;
    text-align: center;
}

.answers-section {
    margin: auto;
    width: 50%;
    text-align: center;
}

.score-section {
    text-align: center;
    width: 100%;
    background-color: white;
}

.score-bar {
    width: 0%;
    height: 30px;
    background-color: red;
}

.btn {
    display: block;
    margin: 0 auto;
}
